<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Blogs Here:</h1>

    
        <form action="/" method="POST" enctype="multipart/form-data" >
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="excert">Excert</label>
            <textarea type="text" id="excert" name="excert"></textarea>
        </div>
        <div>
            <label for="details">Details</label>
            <textarea type="text" id="details" name="details"></textarea>
        </div>
        <div>
            <label for="img">Featured Image</label>
            <input type="file" name="img" id="img">
        </div>
         <input type="submit">
        </form>


        

</body>
</html>